<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title>Images of th:text="${work.make}"</title>
    <style type="text/css">
        nav {
            margin: 10px;
        }
    </style>
</head>
<body>
<header>
    <h1>Images of th:text="${work.make}"</h1>

    <nav>
        <a href="/html/">All Images</a> |
        Images of
        <div class="form-group row">
            <select class="form-control" id="status" name="status">
                <option th:each="stat : ${statuses}"
                        th:value="${stat}"
                        th:text="${stat}"
                        th:selected="${stat.equals(group.status)}"
                        href=""/>
            </select>
        </div>
    </nav>
</header>

<img alt="Image" th:src="@{image/userprofile}" width="250" height="250"/>
</body>
</html>