<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title th:text="Images of ${works[0].exif_make}"></title>
    <style type="text/css">
        nav {
            margin: 10px;
        }
    </style>
</head>
<body>
<header>
    <h1 th:text="Images of ${works[0].exif_make}"></h1>

    <nav>
        <a href="${indexPageLink}">All Images</a> |
        <a th:each="cameraModelPageLink : ${cameraModelPageLinks}" th:text="Images of ${cameraModelPageLink.key}" href="${cameraModelPageLink.value}"></a> |
    </nav>
</header>

<div th:each="work : ${works}">
    <img src=${work.urlsOfImages[2]} alt="Work image" />
</div>

</body>
</html>