<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title th:text="Images of ${currentModel} by ${currentMake}"></title>
    <style type="text/css">
        nav {
            margin: 10px;
        }
    </style>
</head>
<body>
<header>
    <h1 th:text="Images of ${currentModel} by ${currentMake}"></h1>

    <nav>
        <a href="${indexPageLink}">All Images</a> |
        <a href="${cameraMakePageLink}" th_text="Images of ${currentMake}"></a>
    </nav>
</header>

<div th:each="imageUrl : ${imageUrls}">
    <img src=${imageUrl} alt="Work image" />
</div>

</body>
</html>