<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title>Images</title>
    <style type="text/css">
        nav {
            margin: 10px;
        }
    </style>
</head>
<body>
<header>
    <h1>Images</h1>

    <nav>
        <a th:each="cameraMakePageLink : ${cameraMakePageLinks}" th:text="Images of ${cameraMakePageLink.key}" href="${cameraMakePageLink.value}"></a> |
    </nav>

</header>

<div th:each="work : ${works}">
    <img src=${work.urlsOfImages[2]} alt="Work image" />
</div>

</body>
</html>